<!DOCTYPE html>
<html th:replace="~{areafuncionario/layout :: layout (~{::title}, ~{::main}, _, ~{::scripts})}">

<head>
	<title>Lista de Mensagens</title>
</head>

<body>
	<main>
		<div class="row">
			<div class="col-sm-12">
				<div class="card">
					<!-- /.card-header -->
					<div class="card-body table-responsive p-0">
						<table class="table table-hover text-nowrap">
							<thead>
								<tr>
									<th>ID</th>
									<th>Nome</th>
									<th>Email</th>
									<th>Mensagem</th>
									<th>Ações</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="mensagem : ${mensagem}">
									<td th:text="${mensagem.id_mensagem}">183</td>
									<td th:text="${mensagem.nome}">Fortaleza</td>
									<td th:text="${mensagem.email}">CE</td>
									<td th:text="${mensagem.msg}">Brasil</td>
									
									<td>
										<div class="btn-group">
											
											<a type="button" data-toggle="popover" data-placement="top"
												data-content="Remover" data-trigger="hover" class="btn btn-danger"
												th:href="@{/mensagem/{id}/excluir (id=${mensagem.id_mensagem})}"
												onclick="return confirm('Tem certeza que deseja excluir esta mensagem?');">
												<i class="fas fa-trash"></i>
											</a>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<!-- /.card-body -->
				</div>
			</div>
		</div>
	</main>

	<th:block th:fragment="scripts">
		<script>
			$(function () {
				$('[data-toggle="popover"]').popover()
			})
		</script>
	</th:block>
</body>

</html>