 <footer th:fragment="footer" class="row rela">
    <section class="bg-dark">
      <section class=" text-white">
        <div class="row row-cols-1 row-cols-md-3 g-4">
          <div class="col">
            <div class="card bg-transparent text-white border-0 h-100" style="max-width: 18rem;">
              <div class="card-body pt-1">
                <h5 class="card-title">E-mail</h5>
                <p class="card-text">vamosviajar@email.com</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card bg-transparent text-white border-0 h-100" style="max-width: 18rem;">
              <div class="card-body pt-1">
                <h5 class="card-title">Endereço</h5>
                <p class="card-text">Rua Onde fico, 333 - Centro, Capital - CE</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card bg-transparent text-white border-0 h-100" style="max-width: 18rem;">
              <div class="card-body pt-1">
                <h5 class="card-title">Contato</h5>
                <p class="card-text mb-0">(99) 99999-9999</p>
                <p>Horário de atendimento: seg-sex, das 09h as 18h.)</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <hr class="text-white m-4">
      <section class="text-white text-center d-flex ">
        <p class="w-50 pt-2 small">Site desenvolvido por @AdrianeFerreira </p>
        <p class="w-50 pt-2 small">Em parceria da Recode Pro</p>

      </section>
    </section>
  </footer>