<header  th:fragment="nav" class="row ">
    <nav class="navbar navbar-expand-lg bg-dark px-3 m-auto ">
      <section class="container-fluid col-lg-md-sm-2">
        <a class="navbar-brand text-white fs-1 px-2 letra  menorletra" href="/index"
          title="Link para a página inicial.">
          <img th:src="@{/img/Imagem1.png}" height="50" class="d-inline-block align-text-bottom menorletra"
            alt="Um avião entre as nuvens.">Vamos Viajar</a>



        <section class="collapse navbar-collapse px-0 mx-0 col-md-sm-9 justify-content-end" id="navbarSupportedContent">
          <ul class="nav letra">
            <li class="nav-item ">
              <a class="nav-link active text-white letracontato" aria-current="page" href="/index"
                title="Link pra página inicial.">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white letracontato" href="/destino"
                title="Link para a página de destinos.">Destino</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white letracontato" href="/promocoes"
                title="Link para a página de promoções.">Promoções</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white letracontato" href="/enviarmensagem"
                title="link para a página de contato.">Contato</a>
            </li>
          </ul>
        </section>
        <div class="col-md-sm-1 mt-3 px-0 justify-content-end mx-0 pb-3">
          <div class="dropdown">
            <button class="btn dropdown " type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
              aria-expanded="false">
              <img th:src="@{/img/img001.png}" alt="" style="height: 2rem">
            </button>
            <ul class="dropdown-menu  dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="login.html">Login</a></li>
              <li><a class="dropdown-item" href="/cadastrarcliente">Cadastrar</a></li>
              <li><a class="dropdown-item" href="/perfil{id}">Perfil</a></li>
            </ul>
            <button class="navbar-toggler px-1 mx-0 " type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
              aria-label="Toggle navigation">
              <span class="navbar-toggler-icon px-0 mx-0"></span>
            </button>
          </div>
        </div>

      </section>
    </nav>
  </header>