<!DOCTYPE html>
<html th:replace="~{areacliente/layout2 :: layout (~{::title}, ~{::main}, _, ~{::scripts})}">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Login</title>

	


</head>

<body class="body">





	<main class="">

		<section class=" row col-9 masthead2 mx-auto">


			<div class="conteudo">



				<div class="bg-white d-flex justify-content-center align-items-center vh-100">
					<div class="bg-white p-5 rounded-5 text-secondary shadow" style="width: 30rem">
						<div class="d-flex justify-content-center">
							<img src="img/22646cad-5577-46be-8243-e690ed23ef75.jpeg" alt="login-icon"
								style="height: 7rem">
						</div>

						<div class="text-center fs-1 fw-bold">Login</div>
						<div class="input-group mt-4">
							<div class="input-group-text">
								<i class="bi bi-person-circle"></i>
							</div>
							<input class="form-control bg-light" type="text" placeholder="E-mail">
						</div>

						<div class="input-group mt-4">
							<div class="input-group-text">
								<i class="bi bi-key"></i>
							</div>
							<input class="form-control bg-light" type="password" placeholder="Senha">
						</div>

						<div class="d-flex justify-content-around mt-4">
							<div class="d-flex align-items-center gap-1">
								<a href="index.html"><input class="form-check-input" type="checkbox"></a>
								<div class="pt-1" style="font-size: 0.9rem">Lembrar login</div>
							</div>
							<div class="pt-1">
								<a href="#" class="text-decoration-none text-primary fw-semibold fst-italic"
									style="font-size: 0.9rem">Esqueceu a senha?</a>
							</div>
						</div>

						<button class="btn button btn-primary text-white w-100 mt-4 fw-semibold shadow-sm">
							Login
						</button>

						<div class="d-flex gap-1 justify-content-center mt-1">
							<div>Não é cadastrado?</div>
							<a href="/cadastrarcliente" class="text-decoration-none text-primary fw-semibold">Criar
								conta</a>
						</div>

						<div class="p-3">
							<div class="border-bottom text-center" style="height: 0.9rem">
							</div>
						</div>

					</div>
				</div>





			</div>


		</section>

	</main>

</html>